@model TodoList.Models.Todo

@{
    ViewData["標題"] = "Create";
}

<h1>新增待辦事項</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="標題" class="control-label"></label>
                <input asp-for="標題" class="form-control" />
                <span asp-validation-for="標題" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for=是否完成 /> @Html.DisplayNameFor(model => model.是否完成)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到待辦列表</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
