@model TodoList.Models.Todo

@{
    ViewData["標題"] = "Details";
}

<h1>細項</h1>

<div>
    <h4>事項</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.標題)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.標題)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.是否完成)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.是否完成)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">編輯</a> |
    <a asp-action="Index">回到待辦列表</a>
</div>
